<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/swiggy-1.svg" height="50px" alt="" />
    </a>
    <input type="text" class="form-control w-25" value="Local Restaurent" />

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse container flex-row-reverse"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav" style="gap: 30px">
        <a class="nav-item nav-link" href="#">
          <span class="fa fa-search"></span>
          Search</a
        >
        <a class="nav-item nav-link" href="#">
          <span class="fa fa-percent"></span> Offers</a
        >
        <a class="nav-item nav-link" routerLink="/vendors"
          ><span class="fa fa-life-ring"></span> Vendors</a
        >

        <a class="nav-item nav-link" href="#">
          <span class="fa fa-shopping-cart"></span> Cart</a
        >
        <a class="nav-item nav-link" routerLink="/signin"
          ><span class="fa fa-user"></span> LogOut</a
        >
      </div>
    </div>
  </div>
</nav>

<app-homecarousel></app-homecarousel>
<app-hotels-list></app-hotels-list>
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
