<section class="container">
  <div class="row d-flex justify-content-center">
    <div class="">
      <div class="card p-5">
        <h1 class="d-flex justify-content-center">SignUp</h1>
        <form [formGroup]="signUpList" (ngSubmit)="signUp()">
          <div class="mb-3">
            <label for="exampleInputfullName" class="form-label"
              >FullName</label
            >
            <input
              type="text"
              formControlName="fullName"
              class="form-control"
              id="exampleInputfullName"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputfullName" class="form-label"
              >Location</label
            >
            <input
              type="text"
              formControlName="location"
              class="form-control"
              id="exampleInputLocation"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              formControlName="email"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              formControlName="password"
              id="exampleInputPassword1"
            />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a routerLink="/signin" class="text-dark mt-2"
          >Already Registered? Go to Login</a
        >
      </div>
    </div>
  </div>
</section>
