$orange-color: #fc8019;
$brown-color: #3d4152;
$dark-bg: #171a29;
$brown-text: #8a584b;
$blue-text: #286fda;
$orange-dark: #db7c38;
$white-color: #ffffff;
$black-color: #000000;
$green-color: #60b246;
$grey-white: #e0e0e0cc;
